body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #333;
}

.btn-contener{
    display: flex;
    flex-direction: row;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #007bff;
}

input[type="text"] {
    width: calc(100% - 120px); /* Adjusted width for input */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    font-size: 16px;
}

.main-button {
    width: 120px; /* Increased width for button */
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
}

button:hover {
    background-color: #0056b3;
}

/* Centering the button */
.button-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    padding: 10px;
    background-color: #f0f0f0;
    margin-bottom: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

button.delete-btn {
    width: 60px; /* Increased width for button */
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-left: 5px;
    transition: background-color 0.3s ease;
}

button.delete-btn:hover {
    background-color: #c82333;
}

button.delete-btn:focus {
    outline: none;
}



button.check-btn {
    width: 60px; /* Increased width for button */
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius:5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button.check-btn:hover {
    background-color: green;
}

button.check-btn:focus {
    outline: none;
}

/* class to cross done tasks */

.cross{
    text-decoration: line-through;
}
